* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullbody {
  height: 100vh;
}

.header {
  width: 100%;
  height: 6%;
  background-color: wheat;
}

.codeBody {
  width: 100%;
  height: 94%;
  display: grid;
  grid-template-columns: 15% auto;
}

.sideBar {
  height: 100%;
  background-color: beige;
}
.codeEditor {
  height: 100%;
  background-color: blanchedalmond;
}
